@model Lesson2_MWC.Models.EmployeeAddViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <form asp-controller="Employee" asp-action="Add" method="post">
        <section>
            <label asp-for="Employee.Id"></label>
            <input asp-for="Employee.Id" />
            <span asp-validation-for="Employee.Id" style="color:red;"></span>
        </section>
        <section>
            <label asp-for="Employee.Firstname"></label>
            <input asp-for="Employee.Firstname" />
            <span asp-validation-for="Employee.Firstname" style="color:red;"></span>
        </section>
        <section>
            <label asp-for="Employee.Lastname"></label>
            <input asp-for="Employee.Lastname" />
            <span asp-validation-for="Employee.Lastname" style="color:red;"></span>
        </section>
        <section>
            <label asp-for="Employee.Cityİd"></label>
            <select asp-for="Employee.Cityİd" asp-item="Employee.CityId"></select>
            <span asp-validation-for="Employee.Cityİd" style="color:red;"></span>
        </section>
        <section>
            <button type="submit">Submit</button>
        </section>
    </form>
    <employee-list></employee-list>
</body>
</html>